/* Include Henny Penny Custom Font (various formats for browser compatibility) */

@font-face {
    font-family: 'hennypennyregular';
    src: url('../fonts/hennypenny-webfont.eot'); 
    src: url('../fonts/hennypenny-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/hennypenny-webfont.woff2') format('woff2'),
         url('../fonts/hennypenny-webfont.woff') format('woff'),
         url('../fonts/hennypenny-webfont.ttf') format('truetype'),
         url('../fonts/hennypenny-webfont.svg#henny_pennyregular') format('svg');
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}

body {
	font-family: Nunito, arial, sans-serif;
}

header {
	background-color: #ff66b3;
	color: white;
	height: 3em;
	font-weight: 300;
	text-align: center;
	position: relative;
}

header div {
	height: 3em;
	line-height: 3em;
	display: inline-block;
	vertical-align: middle;
}

footer {
	text-align: center;
	padding-top: 7em;
	background-color: #ff66b3;
	color: white;
}

.top-navigation {
	vertical-align: bottom;
	width: 80%;
	margin: 1em auto 0em auto;
	background-color: white;
}

.menu-items li, .footer-menu li, .footer-social li {
	display: inline-block;
}

.menu-items, .avfd-logo {
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.menu-items {
	font-size: 1.5em;
	font-weight: 400;
	color: black;
	margin: 0.5em 0em 1em 0em;
}

.menu-items li {
	padding: 0px 0.5em 0px 0.5em;
}

.pre-order-top {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.flags-container {
	position: absolute;
	top: 5px;
	left: 0px;
}

.masthead {
	width: 80%;
	height: 600px;
	background-image:url('../images/masthead-front-cover.jpg');
    background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 0% 0%;
  	margin: 0px auto 0px auto;
}

.page-content-centred {
	width: 80%;
	text-align: center;
	font-size: 2em;
	margin: 2em auto 0em auto;
	line-height: 2em;
	font-weight: 300;
}


.bottom-stuff {
	height: 160px;
	vertical-align: top;
	margin-top: 2em;
}

.fence-graphic {
	margin: 0px;
	padding: 0px;
}

.fence-graphic img {
	margin: 0px 0px -70px -400px;
}

.teddy-bear {
	display: block;
	float: left;
	margin-left:75px;
}

.boots {
	display: block;
	float: right;
	margin-right: 100px;
	margin-top: 50px;
}


.footer-menu, .footer-social {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer-menu {
	display: block;
	margin-top: 2em;
}

.footer-social {
	margin-top: 4em;
}

.footer-menu ul, .footer-social ul { 
	padding: 0px;
}

.footer-menu li {
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 1.5em;
	font-weight: 400;
}

.footer-social li {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.booger {
	height: 75px;
	background-image:url('../images/carpet.jpg');
    background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 0% 0%;
}




