/* Include Henny Penny Custom Font (various formats for browser compatibility) */

@font-face {
    font-family: 'hennypennyregular';
    src: url('../fonts/hennypenny-webfont.eot'); 
    src: url('../fonts/hennypenny-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/hennypenny-webfont.woff2') format('woff2'),
         url('../fonts/hennypenny-webfont.woff') format('woff'),
         url('../fonts/hennypenny-webfont.ttf') format('truetype'),
         url('../fonts/hennypenny-webfont.svg#henny_pennyregular') format('svg');
}


html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}

body {
	font-family: Lato, arial, sans-serif;
}

header {
	background-color: #ff66b3;
	color: white;
	height: 3em;
	font-weight: 300;
	text-align: center;
	position: relative;
}

header div {
	height: 3em;
	line-height: 3em;
	display: inline-block;
	vertical-align: middle;
}

footer {
	text-align: center;
	padding-top: 7em;
	background-color: #ff66b3;
	color: #ffcce6;
	font-weight: 400;
}

.page-content h1 {
	font-family: hennypennyregular, times, serif;
	font-size: 2em;
	color: #ff99cc;
	text-shadow: 1px 1px 0px #ff66b3, 2px 2px 0px #ff66b3, 3px 3px 0px #ff66b3, 5px 5px 4px #a6a6a6;
	margin: 0 0 .5em 0;
}

h1 {
	line-height: 100%
}

h3 {
	font-family: Lato, arial, sans-serif;
	size: 1.5em;
	font-weight: 700;
	margin: 0 0 15px 0;
}

.center-text {
	text-align: center;
}

.top-navigation {
	vertical-align: bottom;
	width: 80%;
	margin: 1.5em auto 1.5em auto;
	background-color: white;
}

.footer-menu li, .footer-social li {
	display: inline-block;
}

.avfd-logo {
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.avfd-logo a {
	text-decoration: none;
	cursor: pointer;
}

.menu-items {
	font-size: 2.1em;
	font-weight: 400;
	color: #5ea3c4;
	margin: 0.5em auto 1em auto;
	padding: 0px;
	text-align: center;
	font-weight: 700;
	width: 800px;
	text-shadow: 1px 1px 0px #377795;
}

.menu-items li {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #5ea3c4;	
}

.menu-items a {
	text-decoration: none;
	color: #5ea3c4;
}

.menu-items a:hover {
	cursor: pointer;
	color: #ff99cc;
	text-shadow: 1px 1px 0px #ff66b3;
}

.current-page {
	border-bottom: 1px solid #ff66b3;
}

.pre-order-top {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	color: #ffcce6;
}

.pre-order-top a {
	cursor: pointer;
	text-decoration: none;
	color: #ffcce6;
}

.pre-order-top a:hover {
	color: white;
}

.flags-container {
	position: absolute;
	top: 5px;
	left: 0px;
}

.masthead {
	height: 600px;
	width: 1067px;
	margin: 0px auto 0px auto;
}

.list-box {
	position: absolute;
	right: -10px;
	top: 10px;
}

#join-list {
	position: absolute;
	top: 85px;
	right: 50px;
	width: 150px;
	height: auto;
	line-height: 1.5em;
	font-family: hennypennyregular;
	font-size: 2em;
	color: black;
}

#join-list:hover {
	cursor: pointer;
	color: #4d0033;
}

.join-link, .contact-link {
	text-decoration: underline;
}

.join-link:hover, .contact-link:hover {
	cursor: pointer;
	color: #ff66b3;
}

.bw-page-link {
	text-decoration: none;
	font-weight: bold;
}

.bw-page-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.page-content {
	width: 80%;
	font-size: 2em;
	margin: 2em auto 2em auto;
	line-height: 2em;
	font-weight: 300;
}

.shop-text a {
	color: #5ea3c4;
	cursor: pointer;
}

.shop-text a:hover {
	color: #ff66b3;
}

.content-text-centered {
	text-align: center;
}

.content-text-left{
	text-align: left;
}

.small-text {
	font-size: 0.8em;
}

.very-small-text {
	font-size: 0.5em;
}

.flourish-center {
	width: 616px;
	margin: 0 auto 0 auto;
}

.bottom-stuff {
	height: 160px;
	vertical-align: top;
	margin-top: 2em;
}

.fence-graphic {
	margin: 0px;
	padding: 0px;
}

.fence-graphic img {
	margin: 0px 0px -70px -400px;
}

.teddy-bear {
	display: block;
	float: left;
	margin-left: 75px;
}

.boots {
	display: block;
	float: right;
	margin-right: 60px;
	margin-top: 30px;
}

.footer-menu, .footer-social {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.footer-menu {
	display: block;
	margin-top: 3em;
}

.footer-social {
	margin-top: 4em;
}

.footer-menu ul, .footer-social ul { 
	padding: 0px;
}

.footer-menu li {
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 1.5em;
	font-weight: 400;
}

.footer-social li {
	margin-left: 3em;
	margin-right: 3em;
}

.footer-menu a, .footer-social a {
	text-decoration: none;
	color: #ffcce6;
}

.footer-menu a:hover, .footer-social a:hover {
	color: white;
	cursor: pointer;
}

.how-to-table {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	margin-bottom: -325px;
}

.how-to-row {
	width: 100%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 20px;
}

.coming-soon-row {
	width: 65%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 20px;	
}

.how-to-fairy {
	display: inline-block;
	width: 400px;
}

.bubble{
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    width: 400px;
}

.bubble::before {
    background-color: white;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 70px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.faceright {
    float: right;   
    margin: 50px 45px 5px 0px;        
}

.faceright::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.faceleft {
    float: left;    
    margin: 50px 60px 5px 45px;         
}

.faceleft::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.very-bottom {
	height: 150px;
	background-image:url('../images/carpet.jpg');
    background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 0% 0%;
  	width: 100%;
}

.very-bottom p {
	font-family: Lato, arial, sans-serif;
	color: white;
	text-align: center;
	padding-top: 45px;
	font-weight: 300;
}

.very-bottom a {
	text-decoration: none;
	color: white;
}

.very-bottom a:hover {
	text-decoration: underline;
}

.funstuff-thumb {
	display: inline-block;
	width: 410px;
	margin: 0px auto 50px auto;
	border: 1px solid #aaa;
}

/* START POPUPS */


/* Dark Overlay */

#dark-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	opacity: .7;
	z-index: 1000;
}

/* Common */

.toggle {
	display: none;
}

.popup-text {
	color: black;
	z-index: 1003;
	margin: 0px 25px 0px 35px;
	font-family: lato, arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	display: block;
}

#close-overlay, #close-contact {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	z-index: 1003;
	color: black;
	font-weight: 700;
	font-size: 20px !important;
}

#close-overlay:hover, #close-contact:hover {
	cursor: pointer;
	color: red;
}

#close-contact {
	top: -5px;
}

/* Contact Form */

#contact-us {
	border: 1px solid black;
	width: 650px;
	height: 570px;
	margin: 0 auto;
	padding: 0px;
	background-color: white;
	z-index: 1002;	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	z-index: 1002;
	left: 0;
	right: 0;
	font-weight: 300;
	font-size: 1.3em;
}

#contact-us form {
	width: 600px;
	margin: 0 auto;
}

#contact-us input, #contact-us textarea, #contact-us label {
	display: block;
	width: 85%;
	margin: 0 auto;
}

#contact-us div {
	margin-top: 1em;
	font-size: 1.5em;
	text-align: center;
}

#contact-us label {
	margin-top: 1em;
	margin-bottom: 0.2em;
}

#contact-us textarea {
	height: 80px;
}

#contact-us input, #contact-us textarea {
	background-color: white;
	border: 1px solid black;
	padding: 5px;
}

#contact-us input[type="submit"] {
	width: 100px;
	margin-top: 1.5em;
	color: #ffcce6;
	background-color: #ff66b3;
	border: none;
	height: 2em;
	font-weight: 400;
	transition: all 0.23s ease-in-out 0s;
}

#contact-us input[type="submit"]:hover {
	color: white;
	cursor: pointer;
}

#initiate-contact:hover {
	color: white;
	cursor: pointer;
}

/* E-mail List Sign-up */

#notification_container {
	width: 100%;
	text-align: center;
	margin: 20px 10px;
}

.success, .alert {
	margin: 0px 35px 0px 35px;
	font-family: lato, arial, sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	display: block;
}

.success {
	margin-top: 120px;
	vertical-align: middle;
	color: black;

}

.alert {
	color: red;
}

/* END POPUPS */

.press-media {
	width: 600px;
	margin: 35px auto 100px auto;
	text-align: center;
}

.press-media a {
	text-decoration: none; 
}

.press-media a:hover {
	cursor: pointer; 
}

.privacy-content {
	font-weight: 300;
	width: 80%;
	font-size: 1.5em;
	margin: 2em auto 2em auto;
	line-height: 1em;
	font-weight: 300;
}

.privacy-content h1 {
	margin-bottom: 1.2em;
}

.privacy-content h4 {
	font-weight: 400;
	margin-top: 2em;
}

.privacy-content a:visited {
	color: black;
}

/* Slider */

.slider-container {
	width: 1000px;
	height: 620px;
	margin: 0 auto 6em auto;
}

/* Coming Soon */

.coming-container {
	margin: 150px 0;
}


/* Shop */ 

.shop-header {
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #5ea3c4;	
	text-shadow: #377795;
	font-family: hennypennyregular, times, serif;
	text-shadow: 1px 1px 0px #377795, 2px 2px 0px #377795, 3px 3px 0px #377795, 5px 5px 4px #377795;
	margin: 0px auto 0px auto;
}

.shop-header h1 {
	margin: -20px 0 -15px 0;
}

.shop-text {
	font-size: 1.4em;
	text-align: left;
	width: 60%;
}

.shop-bottom {
	font-family: Lato, arial, sans-serif;
	margin: 1em auto 1em auto;
	width: 100%;
	text-align: center;
	font-weight: 300;
}

.shop-bottom a {
	text-decoration: none;
	color: #222;
}

.shop-bottom a:hover {
	text-decoration: underline;
}

.shop-social {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
}

.shop-social ul { 
	padding: 0px;
	list-style-type: none;
}

.shop-social li {
	display: inline;
}

.shop-social a {
	text-decoration: none;
	color: #ccc;
}

.shop-social a:hover {
	color: #666;
	cursor: pointer;
}

.shop-twitter {
	margin-left: 34px;
}

.mobile-mailing {
	display: none;
	visibility: hidden;
}

.mobile-header, .legal-header-mobile {
	display: none;
	visibility: hidden;
}

/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */

#mc_embed_signup {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 400px;
	width: 600px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	z-index: 1002;
	padding-top: 50px;
	font-size: 0.9em;
}

#mc_embed_signup form { 
	display: block;
	position: relative;
	text-align: center;
	padding: 10px 0 10px 3%
}
#mc_embed_signup h2 { 
	font-weight: bold;
	padding: 0;
	margin: 15px 0;
	font-size: 1.4em;
}

#mc_embed_signup input {
	margin: 20px auto 20px auto;
	border: 1px solid black;	
	-webkit-appearance:none;
}

#mc_embed_signup input[type=checkbox]{
	-webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio]{
	-webkit-appearance: radio;
}

#mc_embed_signup input: focus {
    outline: none;
}

#mc_embed_signup .button {
	display: block;
	height: 2em;
	width: 150px;
	font-weight: 400;
	font-size: 1.5em;
	color: #ffcce6;
	background-color: #ff66b3;
	text-align: center; 
	margin: 30px auto 30px auto;
	border: none;
	transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
	color: white;
	cursor: pointer;
}

#mc_embed_signup .small-meta {
	font-size: 11px;
}

#mc_embed_signup .nowrap {
	white-space: nowrap;
}     

#mc_embed_signup .clear {
	clear: none;
	 display: inline;
	}


#mc_embed_signup label {
	display: block;
	font-size: 16px; 
	padding-bottom: 10px;
	font-weight: bold;
}

#mc_embed_signup input.email {
	font-family: lato, arial, sans-serif;
	display: block;
	height: 1.5em;
	width: 85%;
	margin: 30px auto 30px auto;
	border: 1px solid black;
	font-weight: 300;
	font-size: 1.5em;
	display: block;
	padding:0 0.4em;
	outline: none;
}

#mc_embed_signup input.button {
	display: block;
	width: 100px;
	margin: 0 auto 30px auto;
	min-width: 90px;}

#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	clear: both;
}

#mc_embed_signup div.response {
	margin: 1em 0;
	padding: 1em .5em .5em 0;
	font-weight: bold;
	float: left;
	top: -1.5em;
	z-index: 1;
	width:80%;
}

#mc_embed_signup #mce-error-response {
	display: none;
}

#mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}

#mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: .5em 0;
}

/* MEDIA QUERIES FOR RESPONSIVE */

@media only screen and (max-width: 1250px) {
	
	.list-box, .flags-container, #join-list {
		display: none;
	}
	
	.mobile-mailing {
		visibility: visible;
		display: inline-block;
	}

	.mobile-mailing:hover {
		cursor: pointer;
		color: #ff99cc;
		text-shadow: 1px 1px 0px #ff66b3;
	}

	.menu-items {
		width: 100%;
	}

	.avfd-logo {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1189px) {

	.footer-menu {
		width: 70%;
	}
}

@media only screen and (max-width: 1065px) {

	.bottom-stuff {
		display: none;
		visibility: hidden;
	}
}

@media only screen and (max-width: 920px) {
	
	.avfd-logo {
		visibility: hidden;
		display: none;
	}

	.mobile-header {
		display: block;
		visibility: visible;
		position: relative;
		font-family: hennypennyregular;
		font-size: 72px;
		width: 605px;
		margin-left: auto;
		margin-right: auto;
		color: #5ea3c4;
		text-shadow: 1px 1px 0px #ffcce6, 2px 2px 0px #ffcce6, 3px 3px 0px #ffcce6;
	}

	.legal-header-mobile {
		display: block;
		visibility: visible;
		position: relative;
		font-family: hennypennyregular;
		font-size: 72px;
		width: 605px;
		margin-left: auto;
		margin-right: auto;
		color: black;
	}

	.legal-header-mobile a {
		text-decoration: none;
		color: black;
	}

	.shop-header {
		font-size: 24px;
		margin-top: 1em;
	}

	.mobile-header a {
		text-decoration: none;
		color: #5ea3c4;
	}

	.mobile-header a:visited {
		color: #5ea3c4;
	}

}

@media only screen and (max-width: 720px) {

	.mobile-header, .legal-header-mobile {
		font-size: 48px;
		width: 400px;
	}

	.footer-social {
		width: 75%;
	}

	.footer-menu {
		width: 100%;
	}
}